img {
    padding:1px;
    border:0.5px solid grey;
    background-color:#00FF00;
}

.bar {
    background-color: #483C32;
    opacity: 0.9;
    font-family: raleway, sans-serif;
    font-size: 18px;
}

.container{
    font-family: raleway thin, sans-serif;
    color: #483C32;
}

hr { background-color: #00FF00; height: 1.2px; border: 0; }

#one {
    width: 190px;
    height: 160px;
    background-image: url("1glass_house_dusk.jpg") ;
    background-repeat: no-repeat;

}

#two {
    width: 190px;
    height: 160px;
    background-image: url("g-house-bedroom.jpg") ;
    background-repeat: no-repeat;

}


#four {
    width: 190px;
    height: 160px;
    background-image: url("2glass-house.jpg") ;
    background-repeat: no-repeat;
}

#Mies {
    color: red;
}

#bottomNav {
    padding:10px;
    opacity: 0.9;
    background-color: #483C32;
}

#bottomNav a {
    font-size:20pt;
    color:green;
    opacity: 0.9;
}

#bottomNav a:hover {
    color:red;
}

.hot{
    color: red;
    font-family: verdana,non-serif;
}

#meter{
    color: green;
    font-size: 18px;
}



